
@{
    ViewBag.Title = "NoUser";
}

<h2 class="text-capitalize text-center">Not found</h2>
<div class="text-center">
    <img class="rounded mx-auto d-block" src="/Content/Imgs/user-not-found.png" alt="Not found" />
</div>
<h3 class="text-center">User is invalid or doesn't exist</h3>